/*
Template Name:My Estate
File: Layout CSS
Author: Templates On Web
Author URI: http://templateonweb.com/
Licence: <a href="http://www.templateonweb.com/terms.php?v=content&contentid=152">Website Template Licence</a>
*/
/*********************contact****************/
.center_blog_d {
	background-image: url(../img/contact.jpg);
	background-position: center;
}

#contact {
	padding-top: 40px;
	padding-bottom: 40px;
}
.contact_1l h2 span {
	color: #90c923;
}
.blog_page_d2 {
	margin-top: 20px;
}
.blog_page_d2i {
	margin-top: 15px;
}
.blog_page_d2i .form-control {
	border-radius: 0;
	height: 45px;
}
.blog_page_d2i .form_1 {
	height: 120px;
}
.contact_1r1 {
	margin-top: 20px;
}
/*********************contact_end****************/

@media screen and (max-width: 767px) {
	#contact {
		text-align: center;
	}
	.blog_page_d2i .form-control {
		margin-top: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1325px) {
}
