{% extends 'base.html' %} {% load static %} {% block title %} Property Managment
System | Contact {% endblock %} {% block links %}
<link href="{%static 'css/contact.css'%}" rel="stylesheet" />
{% endblock %} {% block contact %} active_tab {% endblock %} {% block body%}

<section id="center" class="center_blog_d">
	<div class="center_bgm clearfix">
		<div class="container">
			<div class="row">
				<div class="center_team_1">
					<div class="col-sm-6">
						<div class="center_team_1_i clearfix">
							<h2 class="mgt">CONTACT US</h2>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="center_team_1_i1 text-right clearfix">
							<ul>
								<li><a href="#">Home</a></li>
								<li class="border_none">Contact Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="contact_1 clearfix">
				<div class="col-sm-6">
					<div class="contact_1l clearfix">
						<h2 class="mgt">GET <span>IN TOUCH</span></h2>
						<p>
							24/7 customer service. Please leave your message here, our expert
							will get back to you to resolve your query.
						</p>
						<div class="blog_page_d2i clearfix">
							<div class="col-sm-6">
								<input
									class="form-control"
									placeholder="First Name"
									type="text"
								/>
							</div>
							<div class="col-sm-6">
								<input
									class="form-control"
									placeholder="Last Name"
									type="text"
								/>
							</div>
						</div>
						<div class="blog_page_d2i clearfix">
							<div class="col-sm-6">
								<input
									class="form-control"
									placeholder="Email Address"
									type="text"
								/>
							</div>
							<div class="col-sm-6">
								<input
									class="form-control"
									placeholder="Enter subject"
									type="text"
								/>
							</div>
						</div>
						<div class="blog_page_d2i clearfix">
							<div class="col-sm-12">
								<textarea
									placeholder="Message"
									class="form-control form_1"
								></textarea>
								<h5 class="mgt"><a class="button" href="#">SEND</a></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="contact_1r clearfix">
						<div class="col-sm-6">
							<h4>OUR ADDRESS</h4>
							<p>Pune</p>
						</div>
						<div class="col-sm-6">
							<h4>CONTACT INFO</h4>
							<p>+91-8829952077, SimpleKeyReality@gmail.com</p>
						</div>
					</div>
					<div class="contact_1r1 clearfix">
						<div class="col-sm-12">
							<div class="mapouter">
								<div class="gmap_canvas">
									<iframe
										width="600"
										height="500"
										id="gmap_canvas"
										src="https://maps.google.com/maps?q=Pune&t=&z=13&ie=UTF8&iwloc=&output=embed"
										frameborder="0"
										scrolling="no"
										marginheight="0"
										marginwidth="0"
									></iframe
									><a href="https://123movies-to.org"></a><br /><style>
										.mapouter {
											position: relative;
											text-align: right;
											height: 500px;
											width: 600px;
										}</style
									><a href="https://www.embedgooglemap.net"></a
									><style>
										.gmap_canvas {
											overflow: hidden;
											background: none !important;
											height: 500px;
											width: 600px;
										}
									</style>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
