{% extends 'base.html' %}

{% load static %}

{% block title %}
Property Managment System | Home
{% endblock %}

{% block links %}
<link href="{%static 'css/index.css'%}" rel="stylesheet">
<link href="{%static 'css/list.css'%}" rel="stylesheet">
{% endblock %}

{% block index %}
active_tab
{% endblock %}

{% block body%}
<section id="center" class="center_home clearfix">
 <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
	  <div class="overlay"></div>

	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#bs-carousel" data-slide-to="0" class=""></li>
	    <li data-target="#bs-carousel" data-slide-to="1" class="active"></li>
	    <li data-target="#bs-carousel" data-slide-to="2" class=""></li>
	  </ol>
	  
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		    <div class="item slides">
		      <div class="slide-1"></div>
		      <div class="hero">
		            <h1>Home <span>Is Where The Story Begins</span></h1>        
		            
		      </div>
		    </div>
		    <div class="item slides active">
		      <div class="slide-2"></div>
		      <div class="hero">        
		            <h1>Home <span>Is Where The Story Begins</span></h1>        
		            <!-- <h4><a class="button" href="#">See all properties</a></h4> -->
		      </div>
		    </div>
		    <div class="item slides">
		      <div class="slide-3"></div>
		      <div class="hero">        
		            <h1>Home <span>Is Where The Story Begins</span></h1>           
		            <!--  -->
		      </div>
		    </div>
	  </div> 
</div>
</section>

<section id="booking">
 <div class="container">
 <form action="{% url 'list' %}" method="POST">
 	{% csrf_token %}
  <div class="row">
   <div class="booking_1 clearfix">
    <div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <select name="offer_type" class="form-control">
		  <option value="all">Any Status</option>
		  <option>For Rent</option>
		  <option>For Sale</option>
        </select>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <select name="city" class="form-control">
		  <option value="all">Any City</option>
		  <option>New York</option>
		  <option>Sydney</option>
		  <option>Washington</option>
        </select>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <select name="bedrooms" class="form-control">
		  <option value="all">Bedrooms</option>
		  <option>1</option>
		  <option>2</option>
		  <option>3+</option>
        </select>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <select name="sort" class="form-control">
		  <option value="all">Sort</option>
		  <option value="price">Price</option>
		  <option value="bedrooms">Bedroom</option>
		  <option value="year">Date</option>
        </select>
	 </div>
	</div>
   </div>
   <div class="booking_1 clearfix">
    <div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <select name="property_type" class="form-control">
		  <option value="all">Any Type</option>
		  <option>House</option>
		  <option>Land</option>
		  <option>Appartment</option>
		  <option>Office</option>
        </select>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <input name="min_price" class="form-control" placeholder="Min Price" type="text">
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <input name="max_price" class="form-control" placeholder="Max Price" type="text">
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="booking_1i clearfix">
	    <h5 class="mgt"><a  class="button mgt" onclick="submit()">SEARCH</a></h5>
	    <input type="submit" name="submit" style="display: none">
	 </div>
	</div>
   </div>
  </div>
 </form>
 </div>
</section>

<script type="text/javascript">
function submit() {
		$("input[type='submit']").trigger("click");
	}	
</script>

<section id="prop">
 <div class="container">
  <div class="row">
  	
   <div class=" clearfix">
   	{% for p in property %}

    <div class="prop_3 col-sm-4">
	 <div class="list_1_1 clearfix">
	   <a href="/list_details/{{p.id}}"><img {% for i in img %}
			   		{% if i.property_id is p.id %} 
			   		src="/media/{{i.img}}" 
			   		{% endif %}
   				{% endfor %} src="{% static 'img/4.jpg' %}" 
   		class="iw" alt="VMJMBOE PROPERTY"></a>
	    <div class="list_1_1i clearfix">
		  <div class="overflow tile_title"><h3><a href="/list_details/{{p.id}}">{{ p.property_title }}</a></h3></div>
	   	  <div class="overflow tile_address"><i class="fa fa-map-marker"></i>
	   	  {{ p.neighborhood }},{{ p.street }},{{ p.city }},{{ p.zip_code }}
	   	  </div>
	   <h4><i class="fa fa-rupee"></i> {{ p.price }}</h4>
	   <ul class="nav_list">
	     <li><span>Bedrooms:</span> {{ p.bedrooms}}</li>
		 <li><span>Bathrooms:</span> {{ p.bathrooms}}</li>
		 <li><span>Land size:</span> {{ p.property_size }} sq. ft. </li>
	   </ul>
	   <ul class="nav_list_1">
	     <li><span class="date">{{ p.year }} years ago</span></li>
		 <li><span class="comp"><a {% if p.id in wid %} class="wishlist" {% endif %} href="/mwishlist/{{p.id}}" target="backend">Wishlist</a></span></li>
		 <li><span class="det"><a href="/list_details/{{p.id}}">DETAILS</a></span></li>
	   </ul>
		</div>
	  </div>
	</div>
	{% endfor %}
	</div>
   </div>
  </div>
 </div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
	  $(".comp a").click(function(){
	  	$(this).toggleClass('wishlist');
	  });
	});
</script>

<section id="wishlist">
 <div class="container">
  <div class="row">
   <div class="wishlist_1 text-center clearfix">
    <div class="col-sm-12">
	 <h3>WHAT YOU ARE LOOKING FOR?</h3>
	 <p>Get desired property. Flats, Apartments, Offices, Bungalow, NA Plots, etc. at best price.</p>
	</div>
   </div>
   <div class="wishlist_2 text-center clearfix">
     <div class="col-sm-3">
	  <div name="House" class="wishlist_2_i text-center clearfix">
	    <span><i class="fa fa-home"></i></span>
		<h4>House</h4>
		<p>Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div name="Land" class="wishlist_2_i text-center clearfix">
	    <span><i class="fa fa-map-marker"></i></span>
		<h4>Land</h4>
		<p>Find NA plots at best areas in the city at the most affordable price range in the market.</p>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div name="Appartment" class="wishlist_2_i text-center clearfix">
	    <span><i class="fa fa-building"></i></span>
		<h4>Appartment</h4>
		<p>Well planned, specious apartments at the key locations in the city with great price.</p>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div name="Office" class="wishlist_2_i text-center clearfix">
	    <span><i class="fa fa-shopping-bag"></i></span>
		<h4>Office</h4>
		<p>Offices at the key commertial areas in the city for better work space experience.</p>
	  </div>
	 </div>
   </div>
  </div>
 </div>
</section>
<script type="text/javascript">
	$(document).ready(function(){
		$(".wishlist_2_i").click(function(){
			var type = $(this).attr('name');
			
			$("select[name='property_type'] option").each(function(){
				
				if ($(this).text().includes(type))
				 { 
					$(this).attr('selected','selected');
					submit();
				}
			});
		});
	});
</script>
<section id="about_home">
 <div class="about_home_m clearfix">
   <div class="container">
  <div class="row">
   <div class="about_h_1 clearfix">
    <div class="col-sm-3">
	 <div class="about_h_1i text-center clearfix">
	  <h3>{{stats.propc}}</h3>
	  <hr>
	  <h5>Properties</h5>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="about_h_1i text-center clearfix">
	  <h3>{{stats.profc}}</h3>
	  <hr>
	  <h5>Users</h5>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="about_h_1i text-center clearfix">
	  <h3>{{stats.propsc}}</h3>
	  <hr>
	  <h5>Deals Done</h5>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="about_h_1i text-center clearfix">
	  <h3>{{stats.profbc}}</h3>
	  <hr>
	  <h5>Agents</h5>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="team_home">
 <div class="container">
   <div class="row">
   <div class="prop_2 mgt clearfix">
    <div class="col-sm-6">
	 <div class="prop_2_l clearfix">
	  <h3>OUR <span>AGENTS</span></h3>
	 </div>
	</div>
	<div class="col-sm-6">
	  	<div class="controls clearfix pull-right">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
        </div>
	</div>
  </div>
   <div id="carousel-example" class="carousel slide team_h_1 clearfix" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                	{% for b in broker %}
                	{% if forloop.counter < 5 %}
                        <div class="col-sm-3">
                            <div class="col-item">
                               <img {% if b.img %} src="/media/{{b.img}}" {% else %} src="{% static 'img/11.jpg' %}" {% endif %} style="height: 300px;" class="img-responsive" alt="a">
							   <div class="clearfix text-center item_1">
								   	{% if b.broker %}
								    <h4><a href="#">{{b.broker.first_name}} {{b.broker.last_name}}</a></h4>
								    {% else %}
								    <h4><a href="#">{{b.first_name}} {{b.last_name}}</a></h4>
								    {% endif %}
							   </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if broker|length > 4 %}
                <div class="item">
                	{% for b in broker %}
                	{% if forloop.counter > 4 %}
                        <div class="col-sm-3">
                            <div class="col-item">
                               <img src="/media/{{b.img}}" style="height: 300px;" class="img-responsive" alt="a">
							   <div class="clearfix text-center item_1">
								    {% if b.broker %}
								    <h4><a href="#">{{b.broker.first_name}} {{b.broker.last_name}}</a></h4>
								    {% else %}
								    <h4><a href="#">{{b.first_name}} {{b.last_name}}</a></h4>
								    {% endif %}
							   </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
  </div>
  </div>
</section>

<section id="clients">
 <div class="container">
  <div class="row">
   <div class="clients_1 clearfix">
    <div class="col-sm-6">
	 <div class="clients_1l clearfix">
	  <a href="#"><img src="{%static 'img/flat.jpg'%}" alt="abc" class="iw"></a>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="clients_1r clearfix">
	   <div class="carousel slide clearfix" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class=""><img class="img-responsive " src="{%static 'img/profile1.jpg'%}" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1" class=""><img class="img-responsive" src="{%static 'img/profile2.jpg'%}" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2" class="active"><img class="img-responsive" src="{%static 'img/profile3.jpg'%}" alt="">
                                </li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">

                                <!-- Quote 1 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
											  <h3>CLIENTS <span>FEEDBACK</span></h3>
                                                <p>My wife and I had a dream of buying house in Pune. Simple Key Reality helped us to find best home for us. The sale went smoothly, and we just closed on an ideal new place we're excited to call home.Really listens to clients and goes the extra mile with customer service, too.</p>
                                                <h4><a href="#">Someone famous</a></h4>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
											    <h3>CLIENTS <span>FEEDBACK</span></h3>
                                                <p>Very good experience with Simple Key Reality.Best price, easy process and satisfying results.</p>
                                                <h4><a href="#">Someone famous</a></h4>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <h3>CLIENTS <span>FEEDBACK</span></h3>
                                                <p>I was searching for my dream home at key locations in Mumbai, got to know about Simple Key Reality from friend. Simple Key Reality provides best service.</p>
                                                <h4><a href="#">Someone famous</a></h4>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="news_home">
 <div class="container">
  <div class="row">
   <div class="prop_2_l  text-center clearfix">
    <div class="col-sm-12">
	 <h3>RECENT <span>NEWS</span></h3>
	 <p>Recent news about new properties and deals that are best for you. Plese do checkout the news before buying of selling a property to get best insight of current market.</p>
	</div>
   </div>
   <div class="news_home_1 clearfix">
    <div class="col-sm-4">
	 <div class="news_home_1i clearfix">
	  <a href="#"><img src="{%static 'img/flat8.jpg'%}" class="iw" alt="abc"></a>
	  <div class="news_home_1ii clearfix">
	   <h5><a href="#">Mumbai’s Mahalaxmi: A preferred choice for elite home buyers</a></h5>
	   <h6>Posted By <a href="#">Arcu Eget</a> On May 02, 2021</h6>
	   <p>As working professionals spend more time at home during these volatile times, in the aftermath of the COVID-19 pandemic, they feel a greater need to upgrade their apartments. </p>
	   <h5><a href="#">READ MORE</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="news_home_1i clearfix">
	  <a href="#"><img src="{%static 'img/flat7.jpg'%}" class="iw" alt="abc"></a>
	  <div class="news_home_1ii clearfix">
	   <h5><a href="#">RECENT DEVELOPED LUXURY HOUSE</a></h5>
	   <h6>Posted By <a href="#">Godrej Nurture</a> On April 25, 2017</h6>
	   <p>Nurture is located in Mamurdi, Pune and is developed by one of the popular real estate developers- Godrej. It has an eco-friendly environment, specially made for the peaceful living of the residents.</p>
	   <h5><a href="#">READ MORE</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="news_home_1i clearfix">
	  <a href="#"><img src="{%static 'img/flat6.jpg'%}" class="iw" alt="abc"></a>
	  <div class="news_home_1ii clearfix">
	   <h5><a href="#">BEST INTERIOR OPPERTUNITY INCLUD</a></h5>
	   <h6>Posted By <a href="#">Arcu Eget</a> On March 09, 2021</h6>
	   <p>The corners in homes have become important focus areas, when it comes to designing and decorating interiors. There are countless ways to decorate the corners of your home with innovative corner design ideas</p>
	   <h5><a href="#">READ MORE</a></h5>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

{% endblock %}